token=DISCORD BOT TOKEN
MONGO_URI=MONGO DB CONNECTION STRING
SHARD_ID=SHARD ID (EX: 0)
CLIENT_ID=960873300827975701
DBL_TOKEN=DISCORD BOT LIST TOKEN
port=PORT
WEBHOOK_SECRET=WEBHOOK SECRET
TOPGG_TOKEN=TOPGG TOKEN
GITHUB_WEBHOOK_SECRET=GITHUB WEBHOOK SECRET
TOPGG_AUTH=TOPGG AUTH