token=DISCORD BOT TOKEN
MONGO_URI=MONGO DB CONNECTION STRING
SHARD_ID=SHARD ID (EX: 0)
CLIENT_ID=960873300827975701
DBL_TOKEN=DISCORD BOT LIST TOKEN
port=PORT
WEBHOOK_SECRET=WEBHOOK SECRET
TOPGG_TOKEN=TOPGG TOKEN
GITHUB_WEBHOOK_SECRET=GITHUB WEBHOOK SECRET
TOPGG_AUTH=TOPGG AUTH
CANARY=true/false
GEMINI_API_KEY=gemini api key
GOOGLE_API_KEY=key
GOOGLE_CSE_ID=id
SERPAPI_KEY=key
OMDB_API_KEY=key
WOLFRAM_APPID=id
GOOGLE_TENOR_API_KEY=key