{
    "logWebhook": [
        "CHANNELID",
        "TOKEN"
    ],
    "logWebhook2": [
        "CHANNELID",
        "TOKEN"
    ],
    "reportWebhook": [
        "CHANNELID",
        "TOKEN"
    ],
    "suggestWebhook": [
        "CHANNELID",
        "TOKEN"
    ],
    "joinWebhook": [
        "CHANNELID",
        "TOKEN"
    ],
    "leaveWebhook": [
        "CHANNELID",
        "TOKEN"
    ],
    "devs": [
        "USERID"
    ],
    "testers": [
        "USERID"
    ],
    "moderators": [
        "USERID"
    ],
    "event": "none",
    "debug": "false",
    "prefix": ">",
    "version": "1.3.3",
    "c_emojis": {
        "agentzzrp_1": "?",
        "agentzzrp_2": "?",
        "agentzzrp_3": "?",
        "agentzzrp_4": "?",
        "robelo06_1": "?",
        "robelo06_2": "?",
        "robelo06_3": "?",
        "robelo06_4": "?"
    },
    "a_emojis": {
        "default_1": "?",
        "default_2": "?",
        "default_3": "?",
        "default_4": "?",
        "crimson_1": "?",
        "crimson_2": "?",
        "crimson_3": "?",
        "crimson_4": "?",
        "azure_1": "?",
        "azure_2": "?",
        "azure_3": "?",
        "azure_4": "?",
        "amethyst_1": "?",
        "amethyst_2": "?",
        "amethyst_3": "?",
        "amethyst_4": "?",
        "seabreeze_1": "?",
        "seabreeze_2": "?",
        "seabreeze_3": "?",
        "seabreeze_4": "?"
    }
}